/* DEFAULT */
.col-12 {
  width: 100%;
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-6 {
  width: calc(100% / 12 * 6);
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

/* SPECIAL MEDIA */

/* FOR XS */
@media (max-width: 575px) {
  .hide {
    display: none;
  }

  .center-main {
    align-items: center;
  }

  .justify-center-xs {
    justify-content: center;
  }

  .align-center-xs {
    align-items: center;
    text-align: center;
  }

  .padding-left-40 {
    padding-left: 0;
    text-align: center;
  }
  .order-save-time {
    order: 2;
  }

  .order-menu {
    order: 2;
  }
}

/* FOR HAMBURGER */
/* @media (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .menu {
    display: flex;
  }

  .menu li {
    cursor: pointer;
    font-size: 1.8em;
    color: #232526;
    font-weight: 600;
    list-style: none;
    padding: 0 15px;
  }
} */

/* .col-sm for larger mobile phones (devices with resolutions ≥ 576px); */
@media (min-width: 576px) and (max-width: 767px) {
  .col-sm-12 {
    width: calc(100% / 12 * 12);
  }
  .col-sm-8 {
    width: calc(100% / 12 * 8);
  }
  .col-sm-6 {
    width: calc(100% / 12 * 6);
  }
  .col-sm-4 {
    width: calc(100% / 12 * 4);
  }
  .col-sm-3 {
    width: calc(100% / 12 * 3);
  }
  .col-sm-2 {
    width: calc(100% / 12 * 2);
  }
  .center-sm {
    justify-content: center;
  }
  .align-center-sm {
    align-items: center;
    text-align: center;
  }
  .order-save-time {
    order: 2;
  }
  .order-menu {
    order: 2;
  }
  .hide {
    display: none;
  }
}
/* .col-md for tablets (≥768px); */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-12 {
    width: calc(100% / 12 * 12);
  }
  .col-md-8 {
    width: calc(100% / 12 * 8);
  }
  .col-md-6 {
    width: calc(100% / 12 * 6);
  }
  .col-md-4 {
    width: calc(100% / 12 * 4);
  }
  .col-md-3 {
    width: calc(100% / 12 * 3);
  }
  .col-md-2 {
    width: calc(100% / 12 * 2);
  }
}

/* .col-lg for laptops (≥992px); */
@media (min-width: 992px) and (max-width: 1199px) {
  .col-lg-12 {
    width: calc(100% / 12 * 12);
  }
  .col-lg-8 {
    width: calc(100% / 12 * 8);
  }
  .col-lg-6 {
    width: calc(100% / 12 * 6);
  }
  .col-lg-4 {
    width: calc(100% / 12 * 4);
  }
  .col-lg-3 {
    width: calc(100% / 12 * 3);
  }
  .col-lg-2 {
    width: calc(100% / 12 * 2);
  }
}

/* .col-xl for desktops (≥1200px) */
@media (min-width: 1200px) {
  .col-xl-12 {
    width: calc(100% / 12 * 12);
  }
  .col-xl-8 {
    width: calc(100% / 12 * 8);
  }
  .col-xl-6 {
    width: calc(100% / 12 * 6);
  }
  .col-xl-4 {
    width: calc(100% / 12 * 4);
  }
  .col-xl-3 {
    width: calc(100% / 12 * 3);
  }
  .col-xl-2 {
    width: calc(100% / 12 * 2);
  }
  .neg-margin{
      margin-top: -100px;
    }
}